.flex {
  display: flex;
  flex-wrap: wrap;

  &.col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.row {
    flex-direction: row;
    width: 100%;
  }

  &.start {
    margin: 0;
    justify-content: flex-start;
  }
}
